{% extends "main.twig" %}

{#****************************#}

{% block title %}
	My amazing website
{% endblock %}

{#****************************#}

{% block script %}
{% endblock %}

{#****************************#}

{% block pagetitle %}
	Edition du voyage {{trip.name}}
{% endblock %}

{#****************************#}

{% block framegeometry %}
    "left: 50%;
    bottom: 10%;
    height:60%;
    width:45%"
{% endblock %}

{#****************************#}

{% block content %}
    
    <h5> Liste des images </h5>

    {% for pic in trip.pics %}
    	<img class="preview" src="{{web_ressources_root}}pics/{{pic.path}}" style="height: 100px;"/> {{pic.path}} <a> Delete </a> <br/>
        <br/>
    {% endfor %}

    <form enctype="multipart/form-data" action="#" method="post">
        <input type="hidden" name="MAX_FILE_SIZE" value="3000000" />
    	{{ form_widget(form) }}
    	<input type="submit" name="submit" />
	</form>

{% endblock %}
