{% extends "main.twig" %}

{#****************************#}

{% block title %}
	My amazing website
{% endblock %}

{#****************************#}

{% block script %}
    <script>

    var index = 0;

    $(document).ready(function()
    {
        $(document).on("click", "#next", function () 
        {
            index = index + 1;

            $.get("/trip/{{trip.id}}/pic/" + index, function(data)
            {
                $("#pic_content").html(data);
            });
        });

        $(document).on("click", "#previous", function () 
        {
            index = index - 1;

            $.get("/trip/{{trip.id}}/pic/" + index, function(data)
            {
                $("#pic_content").html(data);
            });
        });
    });

    </script>
{% endblock %}

{#****************************#}

{% block pagetitle %}
	{{ trip.name }} 
    <span> 
        <a href="{{ path('trip_update', {trip: trip.id}) }}">Edit</a>
        <a data-method="delete" href="{{ path('trip_delete', {trip: trip.id}) }}">Delete</a>
    </span>
{% endblock %}

{#****************************#}

{% block framegeometry %}
    "height:80%; width:100%; margin:3% 0% 0% 0%;"
{% endblock %}

{#****************************#}

{% block content %}
    
    <div id="pic_content" style="text-align:center;">

        {{ pic_content|raw }}

    </div>

{% endblock %}
