
{% set web_ressources_root = app.url_generator.generate('home') %}

<div style="height:95%; width:100%">

    <div class="previous">
        {% if pic.previous is defined %}
            <img id="previous" class="preview" src="{{web_ressources_root}}pics/{{pic.previous.path}}"/>
        {% endif %}
    </div>
    
    <div class="next">
        {% if pic.next is defined %}
            <img id="next" class="preview" src="{{web_ressources_root}}pics/{{pic.next.path}}"/>
        {% endif %}
    </div>

    <img class="full" src="{{web_ressources_root}}pics/{{pic.current.path}}"/> 

</div>

<div style="height:5%; width:100%">
    <p> {{pic.current.description}} </p>
</div>